@font-face {
	font-family: 'OpenSans-Bold';
	src: url('OpenSans-Bold.ttf');
}

body {
	/* margin: 5%; */
	font-family: "OpenSans-Bold";
	/* font-size: 2.5rem; */
}

span.column-header--sort {
	display: none;
}

/* h4 {
	/* font-size: 1.5rem; */